.footer{
    display: block;
    justify-content: space-around;
    background-color: #333333;
    padding: 50px;
    color: #ffff;
    line-height: 25px;
}
.items{
    display: flex;
    justify-content: space-between;
    .sitemap{
        font-size: 25px;
    }
    .location{
        font-size: 25px;
    }
    .followus{
        font-size: 25px;
    }
    .beintheknow{
        font-size: 25px;
    }
    div{
        display: block;
        .itemlist{
            list-style: none;
            padding: 0;
        }
    }
    .medsos{
        display: flex;
        justify-content: start;
        list-style: none;
        padding: 0;
        .instagram{
            width: 25px;
        }
        .facebook{
            width: 25px;
            margin-left: 15px;
        }
    }
    .box{
        display: flex;
        :placeholder-shown {
            border-radius: 10px;
        }
        .button{
            border-radius: 10px;
            margin-left: 10px;
        }
    }
}
.bot{
    display: flex;
    border-top: 1px solid white;
    padding-top: 30px;
    margin-top: 30px;
    .terms{
        width: 50%;
        display: flex;
        justify-content: flex-start;
        list-style: none;
        :first-child{
            margin-right: 20px;
        }
    }
    
    .copyright{
        width: 50%;
        display: flex;
        justify-content: flex-end;
        list-style: none;
        font-size: 18px;
    }
}