.navbar{
  background-color: #C24121;
}

.title{
  color: #fff;
  margin-top: 10px;
  font-size: 18px;
  font-family: Basics Serif Free;
}

.hamburger-btn{
  margin-right: 30px;
  cursor: pointer;
  color: white;
}


.img-logo{
  height: 70px;
  object-fit: cover;
}
.modal-open .modal {
  overflow-y: hidden !important;
}
.btn-primary{
  background-color: unset !important;
  border-color: unset !important;
}
.modal-backdrop.show{
  opacity: 0 !important;
}

.container-fluid{
  position: relative;
  .img-logo{
    position: absolute;
    left: 50%;
      transform: translate(-50%, 0%);
  }
}
#ModalNavbar{
.modal-body li{
  color: white;
  font-family: Basics Serif Free;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 100px;
  text-decoration: none;
  
  
}


.modal-content{
  border: none;
}

.modal-dialog{
  max-width: none;
  
  margin-right: auto ;
  margin-left: auto ;
  flex-direction: column;
}



.modal-body{
  text-align: center;
  list-style: none;
  width: 100%;
  display: flex !important;
  position: absolute;
  justify-content: center;
  flex-direction: column;
  margin-top: 2.5rem ;
  background-color: #C24121;
  height: 100vh;
}




}